{% extends "shop/base.html" %}

{% block title %}
Список товаров
{% endblock %}

{% block content %}
<div class="products-wrapper">
  <h1 class="products-title">
    Наши товары
  </h1>
  <ul class="products-list">
    {% for product in products %}
      <li class="product-item">
        <div class="product-info">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.image.name }}">
          {% endif %}
          <h2 class="product-name">
            <a href="{% url 'shop:product_detail' product.id %}">{{ product.name }}</a>
          </h2>
          <p class="product-price">
            Цена: {{ product.price }} руб.
          </p>
          <form method="POST" action="{% url 'cart:cart_add' product.id %}">
          {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <label for="quantity">Количество:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="10" value="1" required>
            <button type="submit">Добавить в корзину</button>
          </form>
        </div>
      </li>
    {% empty %}
      <li class="no-products-available">No products available.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}